.carousel-inner {
    width: 99%;
    height: 250px;
    object-fit: cover;
    /* deixar centralizado */
    margin: auto;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(27, 2, 48, 0.75);
}

.card-price{
    font-size: 18px;
    font-weight: bold;
    /* centraliza */
    text-align: center;
}

.card del{
    color: #e61818;
    font-size: 14px;
}